@import url(website.css);
.row-social-buttons {
  min-height: 25px;
  background-color: #222222;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #e0aa2e;
  height: 30px;
  width: 30px;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  color: white;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #eac571;
}
ul.list-tags {
  display: block;
  font-size: 14px;
  color: #777777;
}
ul.list-tags li {
  margin-right: 8px;
  padding: 0;
}
ul.list-tags li a {
  color: #777777;
  border-bottom: 2px solid #eeeeee;
}
ul.list-tags li a:hover {
  color: #333333;
  border-bottom-color: #777777;
}
.wp-banner-page {
  width: 100%;
  height: 480px;
  display: table;
  text-align: center;
  background-color: #c8c8c8;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom: 8px solid #451350;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wp-banner-page .container-fluid {
  display: table-cell;
  vertical-align: middle;
}
.wp-banner-page .container-fluid .wp-banner-heading {
  font-size: 76px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 2px 2px black;
  margin: 0px auto;
}
.blog-post-content {
  max-width: 100%;
  min-height: 100%;
  padding-bottom: 50px;
}
.blog-post-content .banner-page-blog {
  width: 100%;
  height: 480px;
  padding-top: 160px;
  padding-bottom: 160px;
  border-bottom: 8px solid #451350;
  background-color: #222222;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.blog-post-content .banner-page-blog .heading {
  font-size: 86px;
  margin-top: 0;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 2px 2px #333333;
}
.blog-post-content .banner-page-blog .search-post {
  background-color: rgba(69, 19, 80, 0.9);
  border: 1px solid #290b2f;
  padding: 30px;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.blog-post-content .banner-page-blog .search-post .entry-text-form {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  display: block;
}
.blog-post-content .form-social-buttons {
  background-color: #222222;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  margin-bottom: 30px;
}
.blog-post-content .page-article {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}
.blog-post-content .page-article:last-child {
  border-bottom: none;
}
.blog-post-content .page-article img {
  width: 100%;
  height: 160px;
}
.blog-post-content .page-article ul.list-tags {
  margin-bottom: 15px;
}
.blog-post-content .page-article ul.list-tags li {
  background-color: #eeeeee;
  padding: 2px 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.blog-post-content .page-article ul.list-tags li:hover {
  background-color: #e1e1e1;
}
.blog-post-content .page-article p {
  font-size: 14px;
  margin-bottom: 0px;
}
.blog-post-content .page-article .heading-article {
  margin-top: 0;
}
.blog-post-content .page-article .heading-article a {
  color: #333333;
}
.blog-post-content .page-article .heading-article a:hover,
.blog-post-content .page-article .heading-article a:focus,
.blog-post-content .page-article .heading-article a:active {
  color: #2daabc;
}
.blog-post-content .breadcrumb {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  margin: 15px auto;
  font-size: 12px;
  color: #777777;
}
.blog-post-content h1,
.blog-post-content h2,
.blog-post-content h3,
.blog-post-content h4,
.blog-post-content h5,
.blog-post-content h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #19606a;
  margin-bottom: 20px;
  line-height: 1.3;
}
.blog-post-content .caption {
  max-width: 100%;
  padding: 5px;
  background-color: #eeeeee;
  text-align: center;
}
.blog-post-content .caption p,
.blog-post-content .caption div {
  margin: 5px;
  color: #777777;
}
.blog-post-content .entry-heading-post {
  display: block;
  margin-bottom: 30px;
}
.blog-post-content .entry-heading-post .heading-post {
  font-size: 40px;
  line-height: 1.2;
}
.blog-post-content .entry-post-content {
  text-align: justify;
}
.blog-post-content .entry-post-content a {
  font-weight: 700;
  border-bottom: 2px solid #eeeeee;
}
.blog-post-content .entry-post-content a:hover {
  border-bottom-color: #222222;
}
.blog-post-content .entry-post-content p {
  font-size: 18px;
}
.blog-post-content .entry-post-content p img {
  max-width: 100%;
  min-height: auto;
}
.blog-post-content .entry-post-content blockquote {
  background-color: #eeeeee;
  border-left-color: #d4d4d4;
  color: #777777;
  margin: 30px;
  line-height: 1.3;
  font-size: 18px;
  text-align: left;
}
.blog-post-content .entry-post-content ul,
.blog-post-content .entry-post-content ol {
  margin-left: 30px;
}
.blog-post-content .entry-post-content ul > li,
.blog-post-content .entry-post-content ol > li {
  margin-bottom: 25px;
}
@media only screen and (max-width: 642px) {
  .blog-post-content .entry-post-content {
    text-align: left !important;
  }
}
.aside-content {
  min-height: 100%;
  position: relative;
}
.aside-content .widget-area,
.aside-content .widget-text {
  max-width: 100%;
  min-height: 400px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  overflow: hidden;
}
.related-post-section {
  max-width: 100%;
  background-color: #eeeeee;
}
.related-post-section .heading {
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 60px;
  font-weight: 900;
  text-align: center;
}
.related-post-section .related-post {
  display: block;
  margin-bottom: 15px;
}
.related-post-section .related-post .post-thumbnail {
  background-color: white;
  -webkit-box-shadow: 0px 1px 2px #cccccc;
  -moz-box-shadow: 0px 1px 2px #cccccc;
  -o-box-shadow: 0px 1px 2px #cccccc;
  box-shadow: 0px 1px 2px #cccccc;
}
.related-post-section .related-post .post-thumbnail .image-thumbnail {
  max-width: 100%;
  min-height: 200px;
  background-color: #d4d4d4;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.related-post-section .related-post .post-thumbnail .caption-thumbnail {
  padding: 10px 20px 20px;
}
.related-post-section .related-post .post-thumbnail .caption-thumbnail a {
  font-weight: 700;
}
.related-post-section .related-post .post-thumbnail .caption-thumbnail p {
  font-size: 14px;
  margin-bottom: 0;
}
@media only screen and (max-width: 770px) {
  .related-post-section .related-post .post-thumbnail .image-thumbnail {
    min-height: 150px;
  }
}
@media only screen and (max-width: 767px) {
  .related-post-section .related-post .post-thumbnail .image-thumbnail {
    min-height: 200px !important;
  }
  .blog-post-content .page-article img {
    height: 100% !important;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 482px) {
  .blog-post-content .banner-page-blog {
    height: 300px;
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .blog-post-content .banner-page-blog .heading {
    font-size: 50px;
  }
  .blog-post-content .banner-page-blog .search-post {
    padding: 15px;
  }
  .blog-post-content .page-article ul.list-tags li {
    margin-bottom: 8px;
  }
  .blog-post-content .entry-heading-post .heading-post {
    font-size: 30px;
    line-height: 1.2;
  }
  .blog-post-content .entry-post-content blockquote {
    margin-left: 0px;
    margin-right: 0;
  }
  .blog-post-content .entry-post-content ul,
  .blog-post-content .entry-post-content ol {
    margin-left: 15px;
  }
}
.wp-category-template {
  min-height: 100%;
  overflow: hidden;
}
.wp-category-template .wp-category-post {
  background-color: #eeeeee;
  overflow: hidden;
}
.wp-category-template .wp-category-post .heading {
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 60px;
}
.wp-category-template .wp-category-post ul.pager {
  margin-bottom: 0px;
}
.wp-category-template .wp-category-post ul.pager li a {
  font-weight: 700;
}
.wp-category-template .wp-category-post ul.pager li a:hover {
  background-color: #2daabc;
  color: white;
}
.wp-category-template .wp-category-post .grid-post-content {
  background-color: white;
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
}
.wp-category-template .wp-category-post .grid-post-content .grid-post-image {
  width: 40%;
  height: 160px;
  float: left;
  margin-right: 15px;
  background-color: #777777;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wp-category-template .wp-category-post .grid-post-content .grid-post-image a.fa-icon-comment {
  width: 30px;
  height: 30px;
  margin: 15px;
  line-height: 30px;
  text-align: center;
  color: white;
}
.wp-category-template .wp-category-post .grid-post-content .grid-post-caption {
  padding-bottom: 15px;
  padding-right: 15px;
}
.wp-category-template .wp-category-post .grid-post-content .grid-post-caption a {
  font-weight: 700;
}
.wp-category-template .wp-category-post .grid-post-content .grid-post-caption p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.wp-category-template .wp-category-default-post {
  min-height: 100%;
  background-color: #eeeeee;
  overflow: hidden;
}
.wp-category-template .wp-category-default-post .wp-category-entry-post .wp-grid-post {
  background-color: white;
  margin-bottom: 15px;
  border: 1px solid #ebebeb;
  overflow: hidden;
}
.wp-category-template .wp-category-default-post .wp-category-entry-post .wp-grid-post:last-child {
  margin-bottom: 0px;
}
.wp-category-template .wp-category-default-post .wp-category-entry-post .wp-grid-post .wp-category-image {
  width: 40%;
  height: 180px;
  margin-right: 15px;
  float: left;
  background-color: #777777;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wp-category-template .wp-category-default-post .wp-category-entry-post .wp-grid-post .wp-category-entry-caption {
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 10px;
}
.wp-category-template .wp-category-default-post .wp-category-entry-post .wp-grid-post .wp-category-entry-caption a {
  font-weight: 700;
}
.wp-category-template .wp-category-default-post .wp-category-entry-post .wp-grid-post .wp-category-entry-caption p {
  font-size: 14px;
  margin-bottom: 0px;
}
.wp-category-template .wp-category-default-post .wp-category-entry-post .wp-grid-post .wp-category-entry-caption ul.list-tags {
  margin: 15px auto 10px;
}
.wp-category-template .widget-area .social-widget {
  width: 100%;
  height: 400px;
  background-color: #eeeeee;
  margin-bottom: 15px;
}
.wp-page-basic-template {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}
.wp-page-basic-template .heading {
  font-family: 'Great Vibes', cursive;
  font-size: 80px;
  color: #333333;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: normal;
}
.wp-page-basic-template h1,
.wp-page-basic-template h2,
.wp-page-basic-template h3,
.wp-page-basic-template h4,
.wp-page-basic-template h5,
.wp-page-basic-template h6 {
  font-weight: 700;
  color: #19606a;
  margin-bottom: 20px;
  line-height: 1.3;
}
.wp-page-basic-template p {
  font-size: 18px;
}
.wp-page-basic-template blockquote {
  color: #777777;
  background-color: #eeeeee;
  border-left-color: #d4d4d4;
  font-size: 18px;
  line-height: 1.3;
  text-align: left;
  margin: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.wp-page-basic-template ul,
.wp-page-basic-template ol {
  margin-left: 30px;
}
.wp-page-basic-template ul li,
.wp-page-basic-template ol li {
  margin-bottom: 25px;
}
.wp-page-basic-template img.alignleft {
  width: 40%;
  height: auto;
  margin-right: 30px;
  float: left;
}
.wp-page-basic-template img.alignright {
  width: 40%;
  height: auto;
  margin-left: 30px;
  float: right;
}
.wp-page-basic-template img.alignnone {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}
.wp-page-basic-template form {
  padding-top: 15px;
}
.wp-page-basic-template form .form-control {
  font-size: 18px;
  color: #333333;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.wp-page-basic-template form .form-control:focus {
  border-color: #1e727e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.wp-page-basic-template form .form-control::-webkit-input-placeholder {
  color: #1e727e;
  font-weight: 900;
}
.wp-page-basic-template form .form-control:-moz-placeholder {
  color: #1e727e;
  font-weight: 900;
}
.wp-page-basic-template form .form-control::-moz-placeholder {
  color: #1e727e;
  font-weight: 900;
}
.wp-page-basic-template form .form-control:-ms-input-placeholder {
  color: #1e727e;
  font-weight: 900;
}
.wp-page-basic-template form .btn.btn-default {
  background-color: #2daabc;
  border-color: #258c9b;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  padding: 15px 25px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.wp-page-basic-template form .btn.btn-default:hover,
.wp-page-basic-template form .btn.btn-default:focus {
  background-color: #2897a7;
}
@media only screen and (max-width: 482px) {
  .wp-banner-page {
    height: 320px;
  }
  .wp-banner-page .container-fluid .wp-banner-heading {
    font-size: 46px;
  }
}
@media only screen and (max-width: 642px) {
  .wp-page-basic-template {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .wp-page-basic-template .heading {
    font-size: 60px;
  }
  .wp-page-basic-template p {
    text-align: left !important;
  }
  .wp-page-basic-template blockquote {
    margin-right: 0;
    margin-left: 0;
  }
  .wp-page-basic-template ul,
  .wp-page-basic-template ol {
    margin-left: 15px;
  }
  .wp-category-template .wp-category-post .grid-post-content .grid-post-image {
    width: 100% !important;
    height: 200px;
    margin-right: 0px;
    margin-bottom: 15px;
    float: none !important;
  }
  .wp-category-template .wp-category-post .grid-post-content .grid-post-caption {
    padding-left: 15px;
  }
  .wp-category-template .wp-category-default-post .wp-category-entry-post .wp-grid-post .wp-category-image {
    width: 100% !important;
    height: 200px;
    margin-right: 0px;
    float: none !important;
  }
  .wp-category-template .wp-category-default-post .wp-category-entry-post .wp-grid-post .wp-category-entry-caption {
    padding-left: 15px;
    padding-bottom: 15px;
  }
}
